<h1><%= t('view.Log in')%></h1>


<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="user_email">
    <%= f.label :email, t('view.Email') %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="user_password">
    <%= f.label :password, t('view.Password') %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <br>
  <%= f.submit t('view.Log in') %>
<% end %>
<br>
<%= link_to t('view.To new user registration screen'), new_user_path %>
