<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_eeplanation">
      <h2><%= @task.errors.count %><%= t('view.error') %> <%= t('view.prohibited this task from being saved') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, class: 'form-control' %>
  </div>
  <br>

  <% Label.all.each do |label| %>
    <% if action_name == 'new' %>
      <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <%= label.label_name %>
    <% elsif action_name == 'edit' %>
      <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <%= label.label_name %>
    <% end %>
  <% end %>
  
  <div class="task_detail">
    <%= form.label :task_detail %>
    <%= form.text_area :task_detail, class: 'form-control' %>
  </div>
  <div class="expired_at">
    <%= form.label :expired_at %>
    <%= form.datetime_field :expired_at, class: 'form-control' %>
  </div>
  <br>
  <div class="status">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses_i18n.keys.map{|k| [I18n.t("enums.task.status.#{k}"), k]} %>
  </div>
  <br>
  <div class="priority">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities_i18n.keys.map{|k| [I18n.t("enums.task.priority.#{k}"), k]} %>
  </div>
  <br>
  <%= form.submit class: 'bun btn-primary'%>
<% end %>
<br>
<%= link_to t('view.Create a new label'), new_label_path, class: 'btn btn-success' %>
