<h1><%= t('view.Tasks index') %></h1>
<%= link_to t('view.Sort by expiration date'), tasks_path(sort_expired: "true") %>
<table>
  <tr>
    <th><%= t('view.Task name') %></th>
    <th><%= t('view.Task detail') %></th>
    <th><%= t('view.expired_at') %></th>
    <th><%= t('view.status') %></th>
  </tr>


<% @tasks.each do |task| %>
  <tr>
    <td><%= task.task_name %></td>
    <td><%= task.task_detail %></td>
    <td><%= l task.expired_at, format: :long %></td>
    <td><%= task.status %></td>
    <td><%= link_to t('view.Show'), task_path(task.id) %></td>
    <td><%= link_to t('view.Edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.Delete'), task_path(task.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to t('view.Create a new task'), new_task_path %>
