<table>
  <tr>
    <th><%= t('view.Task name') %>:</th>
    <td><%= @task.task_name %></td>
  </tr>
  <tr>
    <th><%= t('view.Task detail') %>:</th>
    <td><%= @task.task_detail %></td>
  </tr>
  <tr>
    <th><%= t('view.expired_at') %>:</th>
    <td><%= l @task.expired_at, format: :long %></td>
  </tr>
  <tr>
    <th><%= t('view.status') %>:</th>
    <td><%= @task.status_i18n %></td>
  </tr>
  <tr>
    <th><%= t('view.priority') %>:</th>
    <td><%= @task.priority_i18n %></td>
  </tr>
</table>
<br>
<%= link_to t('view.Return to task list screen'), tasks_path %>
