<p id="notice"><%= notice %></p>

<h1><%= t('view.Label list screen') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('view.Label name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.label_name %></td>
        <td><%= link_to t('view.Show'), label, class: 'btn btn-primary' %></td>
        <td><%= link_to t('view.Edit'), edit_label_path(label), class: 'btn btn-success' %></td>
        <td><%= link_to t('view.Delete'), label, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.Create a new label'), new_label_path %>
