<h1><%= t('view.User list') %></h1>
<br><br>
<table>
  <tr>
    <th><%= t('view.User name') %></th>
    <th><%= t('view.Number of user tasks') %></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td><%= user.tasks.count %></td>
    </tr>
  <% end %>
</table>
<br><br>
<%= link_to t('view.Return to task list screen'), tasks_path %>
