<h2><%= t('view.page of', name: @user.user_name) %></h2>
<p><%= t('view.email', email: @user.email) %></p>

<table>
  <tr>
    <th><%= t('view.Task name') %></th>
    <th><%= t('view.Task detail') %></th>
    <th><%= t('view.Task creator') %></th>
  </tr>
  <% @user.tasks.each do |user_task| %>
    <tr>
      <td><%= user_task.task_name %></td>
      <td><%= user_task.task_detail %></td>
      <td><%= user_task.user.user_name %></td>
    </tr>
  <% end %>
</table>

<%= link_to t('view.Return to task list screen'), tasks_path %>
