<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to t('view.Create a new task'), new_task_path %></li>
        <li><%= link_to t('view.Return to task list screen'), tasks_path %></li>
      </ul>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>タスク管理で仕事の生産性がアップするよ</p>
    </footer>
  </body>
</html>
